# ===== Android / Gradle =====
.gradle/
build/
**/build/

# ===== Android Studio / IntelliJ =====
.idea/
*.iml

# ===== Kotlin / Java =====
*.class

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
venv/
__pycache__/
*.pyc
